*{
margin: 0;
padding: 0;
}
body{
    height: 100%;
    font-size: 1.5rem;
    font-family:"HelveticaNeue",Arial,Helvetica,sans-serif;
}
html{
    font-size: 12px;
}
.image{
    background-image: url(image8.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-styling{
 display: inline-block;
 font-size: 6rem;
 border: 1px solid#fff;
 text-transform: uppercase;
 width: 5%;
 word-wrap:break-word;
 padding: 20px;
 color: white;
 opacity: 0.8;
 margin: auto 10%;
 text-align: center;


}
#second{
    /* background-color:#323946; */
    background-color: white;
    /* background-color: #0ef; */
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#second-div-text{
    order: 1;
    flex-grow: 1;
    min-width: 30%;
    margin-top: 25vh;
    font-size: 2.3rem;
    font-family: "robot",sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25vh;
}
#quotes{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#second-image{
    order: 2;
    flex-grow: 1;
    min-width: 45%;
    align-items: center;
    max-width: 500px;
    margin-right: 6%;
}
#ms dhoni image{
    max-width: 100%;
    box-sizing: border-box;
    float: right;
}
#third{
    /* background-color: #0ef; */
    /* background-color: #323946; */
    background-color: black;
    min-height: 100vh;

}
.container{
    width: 55%;
    text-align: center;
    margin:  0 auto;
    padding: 6% 1%;
    color: #fff;
    font-size: 1.8rem;
}
#author-text{
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.6vh;

}